<div class="container-fluid">
    <div class="text-center">
        <h1>Order Management System</h1>
    </div>
    <hr>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col text-center">
                <a href="get" class="btn btn-info" role="button">Place Order</a>
            </div>
            <div class="col text-center">
                <a href="add" class="btn btn-info" role="button">Checkout</a>
            </div>
        </div>
    </div>
    <br>

    <router-outlet></router-outlet>
</div>